version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: dockerfile
    container_name: api-gateway
    ports:
      - "8000:8000"
    volumes:
      - .:/code
    restart: always