apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: presence-service-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: presence-service
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50
